# =========================================
# dependencies
# =========================================
/node_modules
/.pnp
.pnp.js

# =========================================
# testing
# =========================================
/coverage

# =========================================
# production
# =========================================
/dist
/build

# =========================================
# misc
# =========================================
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode/

# =========================================
# secrets (MOST IMPORTANT)
# =========================================
# This line prevents your API keys from being uploaded.
.env